/**
 * Navigation
 */

/* Header menus  */

header {
  .menu {
    text-transform: uppercase;
  }

  .menu li {
    margin: 0 0 0 4px;
    padding: 0;
  }

  .menu>li,
  .menu>li {
    float: left;
    list-style: none;
  }

  .menu a {
    text-decoration: none;
    color: #333;
  }

  .active a,
  .menu a:hover {
    color: $white;
    background: $blue;
    text-shadow: none;
    background: rgba(24,141,220,0.8);
  }

  .block-menu-block {
    display: inline-block;
    float: right;
  }

  // Main menu
  .menu-name-main-menu {
    clear: right;
    margin-right: -8px;
  }

  .menu-name-main-menu .menu a {
    font-size: 14px;
  }

  .menu-name-main-menu a {
    padding: 8px;
  }

  // Secondary Menu
  .menu-name-menu-secondary-menu {
    font-size: 11px;
    margin-right: -6px;
    padding-bottom: 30px;
  }

  .menu-name-menu-secondary-menu a {
    padding: 6px;
  }

}
