/**
 * Navigation
 */

/* Header menus
   ================================================================================================================== */

header {
  .menu {
    text-transform: uppercase;

   li {
      margin: 0 0 0 4px;
      padding: 0;
    }

    >li {
      float: left;
      list-style: none;
    }

    a {
      -moz-transition: background 0.3s linear, color 0.2s linear;
      -webkit-transition: background 0.3s linear, color 0.2s linear;
      -o-transition: background 0.3s linear, color 0.2s linear;
      transition: background 0.3s linear, color 0.2s linear;

      text-decoration: none;
      color: #333;
    }

    .active a,
    a:hover {
      color: $white;
      background: $blue;
      text-shadow: none;
      background: rgba(24,141,220,0.8);
    }
  }

  .block-menu-block {
    display: inline-block;
    float: right;
  }

  // Main menu
  .menu-name-main-menu {
    margin-right: -8px;
  }

  .menu-name-main-menu .menu a {
    font-size: 14px;
  }

  .menu-name-main-menu a {
    padding: 8px;
  }

  // Secondary Menu
  .menu-name-menu-secondary-menu {
    font-size: 11px;
    height: 20px;
    margin-right: -6px;
    margin-bottom: 20px;
  }

  .menu-name-menu-secondary-menu a {
    padding: 6px;
  }
}

/* Sidebar menu
   ================================================================================================================== */

.content-wrapper .block-menu-block {
  padding: 22px 0 0;
  background: transparent url(../images/back-sidebarmenu-top.png) left top no-repeat;
  width: 220px;

  .content {
    padding: 0 0 26px;
    background: transparent url(../images/back-sidebarmenu-bottom.png) left bottom no-repeat;
  }

  .menu {
    padding: 0;
    margin: 0;
    background: transparent url(../images/back-sidebarmenu.png) left top repeat-y;

    >li {
      list-style: none none outside;
      margin: 0;
      padding: 0;

      a {
        background: transparent url(../images/back-sidebarmenu-default.png) left top repeat-x;
        display: block;
        padding: 4px 0px 2px 10px;
        line-height: 26px;
        color: $grey;
        text-decoration: none;


//        .menu-sidebar .menu .menu>li a:link,
//        .menu-sidebar .menu .menu>li a:visited,
//          background: transparent url(../images/back-sidebarmenu-active-level2.png) left top repeat-y;
//        }
//
        &.active,
        &:hover {
          background: transparent url(../images/back-sidebarmenu-active.png) left top repeat-y;
        }
      }
    }
  }
}
