/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 * @author magnify
 */


body {
  background: $background url('../images/back-body.jpg') left top repeat;
  color: $text-color;
  font: $font;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font: $font;
  font-weight: normal;

  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

h1, h2, h3  {
  color: $text-color-head;
}

h1 {
  margin-bottom: 0.6em;
}

h2 {
  font-size: 22px;
  margin-bottom: 0.3em;
}

h3 {
  font-size: 18px;
  margin-bottom: 0.5em;
}

strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}



/* Links
   ================================================================================================================== */

a {
  &:link {
    color: $link-color;
    text-decoration: underline;
  }

  &:visited {
    color: darken($link-color, 5%);
  }

  &:hover {
    color: darken($link-color, 10%);
    text-decoration: none;
  }

  &:focus {
    color: darken($link-color, 10%);
  }
}


/* Paragraph
   ================================================================================================================== */

p {
  margin-top: 0;
}


/* Image
   ================================================================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
