/**
 * Base
 *
 * Contains styling and reset of basic elements
 *
 * @author magnify
 */


body {
  font: $font;
  color: $text-color;
  @include text-shadow(rgba($white, 0.4) 0 1px 0);
  background: $background url('../images/back-body.jpg') left top repeat;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: normal;

  margin-top: 0;

  /* This fixes huge spaces when a heading wraps onto two lines */
  line-height: 1.2;

  /* Voodoo to enable ligatures and kerning */
  text-rendering: optimizeLegibility;
}

h1, h2, h3  {
  color: $text-color-head;
}

h1 {
  margin-bottom: 0.2em;
}

h2 {
  font-size: 18px;
  margin-bottom: 0.1em;
}

h3 {
  font-size: 14px;
  margin-bottom: 0.1em;
}

strong {
  font-weight: bold;
}


em {
  font-style: italic;

  strong {
    font-weight: bold;
  }
}


/* Links
   ================================================================================================================== */

a {
  color: $link-color;

  &:link,
  &:visited {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
      text-decoration: none;
  }
}

h3,
h2 {
  a {
    &:link,
    &:visited {
      color: #333;
      text-decoration: none;
      border-bottom: 1px dotted #333;
      display: inline-block;
      line-height: 1em;
    }
  }
}

h3, h2 {
  a {
    &:hover,
    &:focus {
      border: none;
      outline: none;
      padding: 3px;
      margin: -3px -3px -2px;
      background: #188DDC;
      background: rgba(24,141,220,0.8);
      color: #fff;
      text-shadow: none;
    }
  }
}

/* Paragraph
   ================================================================================================================== */

p {
  margin-top: 0;
}


/* Image
   ================================================================================================================== */

img {
  display: inline;
  height: auto;
  max-width: 100%;
  vertical-align: bottom;
}
