/**
 * @file
 * Style the front page flex-slider.
 *
 * A lot of the stuff in here is just overriding the default styles that comes
 * with flex-slider.
 */

.flex-control-nav {
  li {
    margin: 0 4px;
  }

  bottom: -35px;
}

.flex-control-paging li a {
  background: transparent url(../images/graphic-slider-dots-default.png) left top no-repeat;
  box-shadow: none;

  &:hover {
    background: transparent url(../images/graphic-slider-dots-active.png) left top no-repeat;
    box-shadow: 0 0 20px $blue;
  }
}

.flex-control-paging li a.flex-active {
  background: transparent url(../images/graphic-slider-dots-active.png) left top no-repeat;
  box-shadow: none;
}

.flexslider {
  position: relative;
  border: 1px solid $shadow;
  -moz-box-shadow: 0px 1px 2px $shadow;
  -o-box-shadow: 0px 1px 2px $shadow;
  -webkit-box-shadow: 0px 1px 2px $shadow;
  box-shadow: 0px 1px 2px $shadow;
  @include border-radius($border-radius);

  margin: 0 0 50px;

  .flexslider--title {
    position: absolute;
    top: 191px;
    z-index: 10;

    width: 455px;
    height: 100px;

    font-size: 22px;
    padding: 14px 145px 0 15px;

    background: transparent url(../images/back-slider-title.png) left top repeat;
    background: rgba(12,79,136,0.7);

    a {
      color: $white;
      text-decoration: none;
      text-shadow: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .flexslider--lead {
    position: absolute;
    top: 233px;

    color: $white;
    text-shadow: none;

    width: 455px;

    padding: 10px 0 0 15px;
    z-index: 20;
  }

  .flex-direction-nav {

    .flex-prev {
      position: absolute;
      top: 225px;
      left: 482px;
      z-index: 30;

      display: block;
      width: 43px;
      height: 43px;

      overflow: hidden;
      text-indent: -999em;

      background: transparent url(../images/graphic-slider-prev.png) left top no-repeat;
      opacity: 0.8;

      &:before {
        content: none;
      }
    }

    .flex-next {
      position: absolute;
      top: 225px;
      left: 542px;
      z-index: 30;

      display: block;
      width: 43px;
      height: 43px;

      overflow: hidden;
      text-indent: -999em;
      text-align: left;

      background: transparent url(../images/graphic-slider-next.png) left top no-repeat;
      opacity: 0.8;

      &:before {
        content: none;
      }
    }

  }
}
